# Лабораторная работа 1. Язык Python, основные библиотеки для анализа данных.

ФИО: Полушин Владимир Владимирович

Группа: 317

In [2]:
import numpy as np
import pandas as pd

## Часть 1: Python

#### 1. Напишите код, который сформирует список всех натуральных чисел, не превосходящих 100, которые делятся на 7 и не делятся на 5. Нельзя использовать циклы — выполните это задание с помощью list comprehension.

In [5]:
[x for x in range(101) if x % 7 == 0 and x % 5 != 0]

[7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98]

#### 2. Напишите функцию `sort_tokens(s)`, которая принимает на вход строку, разделяет ее на токены по запятым, сортирует токены с помощью функции `sorted()` и снова соединяет их в одну строку через запятые. Например, для строки `u"ночь,фонарь,улица"` функция должна выдать `u"ночь,улица,фонарь"`. Придумайте несколько входных строк и протестируйте функцию на них.

Обратите внимание, что склеить строки можно с помощью конструкции `'x'.join(...)`. Например:

In [2]:
'! '.join(['i', 'am', 'very', 'excited', ':-)'])

'i! am! very! excited! :-)'

In [2]:
def sort_tokens(s):
    return ",".join(sorted(s.split(",")))
print(sort_tokens('d,c,b,a'))
print(sort_tokens(u"ночь,фонарь,улица"))
print(sort_tokens(u" вмк,это лучший факультет,а мехмат, худший"))

a,b,c,d
ночь,улица,фонарь
 вмк, худший,а мехмат,это лучший факультет

#### 3. Напишите функцию `remove_duplicates(a)`, которая принимает на вход список и возвращает его же, но без дубликатов и в отсортированном виде. Например, для списка `[u"ночь", u"улица", u"фонарь", u"аптека", u"аптека", u"улица", u"фонарь"]` результат должен быть `[u"аптека", u"ночь", u"улица", u"фонарь", ]`.

Подсказка: обратите внимание на структуру `set`!

In [3]:
def remove_duplicates(a):
    return sorted(set(a))
print(" ".join(remove_duplicates([u"ночь", u"улица", u"фонарь", u"аптека", u"аптека", u"улица", u"фонарь"])))
print(" ".join(remove_duplicates(["z", "a", "b", "c", "d", "e", "f", "a", "f", "d", "e"])))

аптека ночь улица фонарь
a b c d e f z

#### 4. Напишите функцию `word_counts(texts)`, которая принимает на вход список строк, и печатает пары (слово, число вхождений). Считайте, что слова в текстах могут быть разделены только пробелами. Например, для входа `[u'ночь улица фонарь аптека', u'аптека улица фонарь']` должно быть напечатано
>аптека 2

>улица 2

>фонарь 2

>ночь 1

Подсказки:

Чтобы разбить каждый из текстов на слова, воспользуйтесь функцией `map`, которая применяет заданную функцию к каждому элементу списка. Например, если бы нужно было каждый из текстов привести к нижнему регистру, то команда выглядела бы так:

In [4]:
map(lambda x: x.lower(), ["abCDefg", "HIjkL"])

['abcdefg', 'hijkl']

После первого шага вы получите список, состоящий из списков слов. Чтобы объединить их в один список слов, воспользуйтесь функцией `reduce`. Например, просуммировать числа из списка с ее помощью можно так:

In [51]:
reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])

15

Для подсчета количества вхождений слов воспользуйтесь структурой `defaultdict` из модуля `collections`. В отличие от обычного `dict`, она не генерирует ошибку при обращении к несуществущему ключу, а создает новую запись, инициализируемую нулевым значением. Например:

In [5]:
from collections import defaultdict
d = defaultdict(int)
print d
d['abc'] += 1
print d
d['xxx']
print d

defaultdict(<type 'int'>, {})
defaultdict(<type 'int'>, {'abc': 1})
defaultdict(<type 'int'>, {'xxx': 0, 'abc': 1})

In [6]:
from collections import defaultdict
from functools import reduce
def word_counts(texts):
    d = defaultdict(int)
    words = reduce(lambda a, b: a + b, map(lambda text: text.split(" "), texts))
    for word in words:
        d[word] += 1
    for item in d.items():
        print(" ".join(map(unicode, item)))
word_counts([u'ночь улица фонарь аптека', u'аптека улица фонарь'])

аптека 2
улица 2
фонарь 2
ночь 1

#### 5. (бонусное задание) Скачайте английский перевод "Преступления и наказания". Найдите 20 самых популярных слов и 20 слов, которые встречаются только один раз.

Приведите текст к нижнему регистру. Удалите из него все специальные символы и цифры. Разделите текст на слова, считая разделителями все, кроме букв. Обратите внимание на функцию `split` из модуля `re`.

Не забудьте удалить пустые слова:
```
words = filter(lambda x: len(x) > 0, words)
```

In [7]:
from urllib import urlopen
url = "http://www.gutenberg.org/files/2554/2554.txt"
response = urlopen(url)
raw_text = response.read().decode('utf8')

In [8]:
raw_text[1000:1100]

u'r five\r\nchildren in only two rooms. The father and mother spent their evenings\r\nin reading aloud to '

In [20]:
import re
from collections import defaultdict
d = defaultdict(int)
words = re.findall('[A-Za-z]+', raw_text)
for word in words:
    d[word.lower()] += 1
words_with_count = [(item[1], item[0]) for item in d.items()]
print("Top 20")
print(sorted(words_with_count, reverse=True)[:20])
print("Only once 20")
print(sorted(words_with_count)[:20])

Top 20
[(8003, u'the'), (7042, u'and'), (5497, u'to'), (4900, u'he'), (4668, u'a'), (4405, u'i'), (4118, u'you'), (3928, u'of'), (3463, u'it'), (3308, u'that'), (3254, u'in'), (2827, u'was'), (2116, u'his'), (2082, u'at'), (1829, u'her'), (1801, u'but'), (1775, u'not'), (1765, u's'), (1757, u'with'), (1695, u'she')]
Only once 20
[(1, u'abandoning'), (1, u'abasement'), (1, u'abide'), (1, u'abject'), (1, u'abjectly'), (1, u'abjectness'), (1, u'abjure'), (1, u'abnegation'), (1, u'abnormality'), (1, u'abolition'), (1, u'abominably'), (1, u'abortions'), (1, u'abraham'), (1, u'abrupt'), (1, u'abundant'), (1, u'abused'), (1, u'abyss'), (1, u'academy'), (1, u'accelerate'), (1, u'accent')]

## Часть 2: NumPy и SciPy

#### 1. Повторите 1000 раз следующий эксперимент: сгенерируйте две матрицы размера $10 \times 10$ из стандартного нормального распределения, перемножьте их (как матрицы) и найдите максимальный элемент. Какое среднее значение по экспериментам у максимальных элементов? 95-процентная квантиль?

Для вычисления квантили воспользуйтесь функцией `np.percentile`

In [12]:
vals = np.empty(1000)
for i in range(1000):
    m1 = np.random.normal(0, 1, (10, 10))
    m2 = np.random.normal(0, 1, (10, 10))
    vals[i] = np.max(m1.dot(m2))
    
print(np.average(vals))
print(np.percentile(vals, 95))

8.37191471375
11.9210444491

#### 2. Сгенерируйте 1000 чисел из распределения Пуассона с параметром $\lambda = 5$. Сформируйте массив, в котором в i-м элементе будет записано количество сгенерированных чисел, равных i.

Обратите внимание на функцию `np.bincount`

In [26]:
arr = np.random.poisson(5, 1000)
np.bincount(arr)

array([  6,  33,  85, 154, 161, 176, 161, 103,  50,  30,  24,  11,   3,
         2,   1])

#### 3. Реализуйте функцию, которая принимает на вход numpy-массив целых чисел `a`, и генерирует массив, в котором число `i` встречается `a[i]` раз. Протестируйте на результате из прошлого задания.

Обратите внимание на функцию `np.repeat`

In [5]:
def super_repeat(a):
    return np.repeat(np.arange(a.shape[0]), a)
super_repeat(np.array([1, 2, 3, 4, 0, 0, 0, 5], dtype=int))

array([0, 1, 1, 2, 2, 2, 3, 3, 3, 3, 7, 7, 7, 7, 7])

#### 4. Напишите функцию `scale(X)`, которая принимает на вход матрицу и масштабирует каждый ее столбец (вычитает среднее и делит на стандартное отклонение). Убедитесь, что в функции не будет происходить деления на ноль. Протестируйте на каких-нибудь данных.

In [20]:
def scale(X):
    eps = 0.0000001
    e = np.mean(X, axis=0)
    d = np.std(X, axis=0)
    is_not_zero = np.abs(d) > eps
    X[:, is_not_zero] = (X - e)[:, is_not_zero] / d[is_not_zero]
    return X
        
X = scale(np.array([[1, 2, 0], [1, 5, 0], [2, 8, 0], [2, 3, 1]], dtype=float))
print X
X = scale(np.array([[1, 2, 2], [1, 5, 2], [2, 8, 2], [2, 3, 2]], dtype=float))
print X

[[-1.         -1.09108945 -0.57735027]
 [-1.          0.21821789 -0.57735027]
 [ 1.          1.52752523 -0.57735027]
 [ 1.         -0.65465367  1.73205081]]
[[-1.         -1.09108945  2.        ]
 [-1.          0.21821789  2.        ]
 [ 1.          1.52752523  2.        ]
 [ 1.         -0.65465367  2.        ]]

#### 5. Сгенерируйте матрицу с элементами из нормального распределения $\mathcal{N}(10, 1)$. Найдите ее:
- определитель
- след
- наименьший и наибольший элементы
- спектральную норму
- норму Фробениуса
- собственные числа
- обратную матрицу

In [24]:
from numpy import linalg as la
m = np.random.normal(10, 1, (10, 10))
print(la.det(m))
print(np.trace(m))
print(np.min(m))
print(np.max(m))
print(la.norm(m, ord=2))
print(la.norm(m, ord='fro'))
print(la.eig(m)[0])
print(la.inv(m))

-16818.6363408
100.428241006
7.47949834355
12.7680701952
99.3648554723
99.8123648767
[ 99.25437644+0.j           2.99816256+0.j           2.68309150+0.85758109j
   2.68309150-0.85758109j  -1.65420100+2.12974026j  -1.65420100-2.12974026j
  -2.29575675+0.j           0.33364815+0.j          -0.95998520+0.59765865j
  -0.95998520-0.59765865j]
[[ 0.11116825 -0.19514944  0.59566788 -0.5714811  -0.97549098 -0.36554619
  -0.30550261 -0.04785269  1.08255355  0.68131594]
 [-0.12090243 -0.02082333 -0.22927483  0.0954501   0.13253461  0.06937272
   0.02976327  0.26514249 -0.02039067 -0.18638121]
 [ 0.36444241 -0.23064814  0.96229225 -1.21656793 -1.58060601 -0.43465148
  -0.22888354  0.37235158  0.96753644  0.98968645]
 [-0.23194337 -0.11091068 -0.52792248  0.25913003  0.74373438  0.77453379
   0.25563809 -0.04690059 -0.84340263 -0.25693648]
 [-0.01754765 -0.02816875  0.37162994  0.09299327 -0.37610561 -0.43608939
  -0.11974443 -0.06302171  0.39705959  0.17544873]
 [-0.70632964  1.10319425 -1.84700805  2.38510788  3.23560729 -0.07611165
   0.56567525 -0.85846991 -1.86277627 -1.83461971]
 [-0.08679014 -0.27095189  0.18658304 -0.1730508  -0.14118044  0.46913272
   0.17891172  0.13972172 -0.14607973 -0.15529007]
 [-0.14049906  0.28150955 -0.28062875  0.58352625  0.84561979 -0.05887356
  -0.15241683 -0.16813476 -0.33684794 -0.53463964]
 [ 0.59236126  0.0054027   0.52026773 -0.91730143 -1.24657125  0.18081614
  -0.05165636  0.22848351  0.14122366  0.50741723]
 [ 0.23144599 -0.50844755  0.23659037 -0.48562298 -0.57177182 -0.11119407
  -0.16521292  0.15127331  0.60701447  0.61359929]]

## Часть 3: Pandas

#### Ответьте на вопросы о данных по авиарейсам в США за январь-апрель 2008 года.

Данные: http://stat-computing.org/dataexpo/2009/2008.csv.bz2
(обратите внимание, что распаковывать этот файл не обязательно — функция `pandas.read_csv` умеет читать из архивов автоматически)

Описание: http://stat-computing.org/dataexpo/2009/the-data.html

1. Какая из причин отмены рейса (`CancellationCode`) была самой частой? (расшифровки кодов можно найти в описании данных)
2. Найдите среднее, минимальное и максимальное расстояние, пройденное самолетом.
3. Не выглядит ли подозрительным минимальное пройденное расстояние? В какие дни и на каких рейсах оно было? Какое расстояние было пройдено этими же рейсами в другие дни?
4. Из какого аэропорта было произведено больше всего вылетов? В каком городе он находится?
5. Найдите для каждого аэропорта среднее время полета (`AirTime`) по всем вылетевшим из него рейсам. Какой аэропорт имеет наибольшее значение этого показателя?
6. Найдите аэропорт, у которого наибольшая доля задержанных (`DepDelay > 0`) рейсов. Исключите при этом из рассмотрения аэропорты, из которых было отправлено меньше 1000 рейсов (используйте функцию `filter` после `groupby`).

In [28]:
import pandas as pd
import numpy as np
data = pd.read_csv("2008.csv", error_bad_lines=False)
data.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211,2225,WN,335,...,4,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002,1000,WN,3231,...,5,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804,750,WN,448,...,3,17,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926,930,1054,1100,WN,1746,...,3,7,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829,1755,1959,1925,WN,3920,...,3,10,0,NaN,0,2,0,0,0,32

In [3]:
codes = data["CancellationCode"]
codes.value_counts() #B - weather

B    54904
A    54330
C    28188
D       12
dtype: int64

In [30]:
dists = data["Distance"]
print "Max: ", dists.max()
print "Average: ", dists.mean()
print "Min: ", dists.min()

Max:  4962
Average:  726.387029425
Min:  11

In [60]:
date_fnum_ucarrier = ["Year", "Month", "DayofMonth", "FlightNum", "UniqueCarrier"]
fnum_ucarrier_dist = ["FlightNum", "UniqueCarrier", "Distance"]
days = data[dists == dists.min()][date_fnum_ucarrier].drop_duplicates()
print days
flights = data[dists == dists.min()][["FlightNum", "UniqueCarrier"]].drop_duplicates()
get_other_flights = lambda flight: \
    np.logical_and(data["FlightNum"] == flight[0], data["UniqueCarrier"] == flight[1])
[data[get_other_flights(flight)][fnum_ucarrier_dist].drop_duplicates() for flight in flights.values]

         Year  Month  DayofMonth  FlightNum UniqueCarrier
2547298  2008      5          15       4988            OH
4392215  2008      8          10       5572            OH

[         FlightNum UniqueCarrier  Distance
 151771        4988            OH       834
 1941154       4988            OH        96
 2547298       4988            OH        11,
          FlightNum UniqueCarrier  Distance
 151629        5572            OH       544
 4392215       5572            OH        11]

In [7]:
airports = pd.read_csv("http://stat-computing.org/dataexpo/2009/airports.csv")

In [82]:
most_frequent_airport = data["Origin"].value_counts().index[0]
airports[airports["iata"] == most_frequent_airport]

,iata,airport,city,state,country,lat,long
880,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944

In [8]:
origin_mean_airtime = data.groupby("Origin")["AirTime"].aggregate(np.mean)
print origin_mean_airtime.max()
airport_max = origin_mean_airtime.idxmax()
airports[airports["iata"] == airport_max]

203.850842697

,iata,airport,city,state,country,lat,long
2962,SJU,Luis Munoz Marin International,San Juan,PR,USA,18.439417,-66.001833

In [6]:
threshold = 1000
all_flights = data.groupby("Origin").size()
delayed_flights = data[data["DepDelay"] > 0].groupby("Origin").size()
fraction_delayed = delayed_flights[all_flights > threshold] / all_flights[all_flights > threshold]
max_fraction_delayed = fraction_delayed.idxmax()
print fraction_delayed.max()
airports[airports["iata"] == max_fraction_delayed]

0.578641892894

     iata       airport    city state country        lat       long
1247  DAL  Dallas Love   Dallas    TX     USA  32.847114 -96.851772